<div class="d-md-flex flex-md-equal w-100 my-md-3">
    <div class="bg-body-tertiary col overflow-hidden" id="therapy">
      <div class="my-3 p-3">
        <h2 class="display-5 text-center">Индивидуальная терапия</h2>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 100%; border-radius: 21px 21px 0 0; padding: 5px;">
        <p>
        Благодаря высокому уровню эмпатии и аналитическому складу ума, помогаю в краткое время найти корень конфликта между психикой и телом и предлагаю варианты решения. При соприкосновении в терапии, мои приоритеты:
        - безопасное пространство для взаимодействии;
        - сопровождение рассказом о том, что происходит с человеком, что помогает глубже понять происходящее и поможет научиться самостоятельно разбираться и в области своего запроса, так и в целом получить более широкое и глубокое видение на свою жизнь.
        </p><br />
        Запросы, с которыми работаю:
        <ul>
          <li>контакт с собой, личные границы</li>
          <li>управление эмоциями: стыд/чувство вины (где на них опираться, а где убирать), гнев, страхи</li>
          <li>телесные процессы: тревожность, ПА, мигрень/головные боли, работа с опорами</li>
          <li>детские травмы (проблемы в отношениях с родителями, работа с убеждениями)</li>
        </ul>
      
      </div>
    </div>
  </div>